dubbo-demo/dubbo-demo-consumer/src/main/resources/META-INF/hero.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://liyu.test/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://liyu.test/schema">
	<xsd:complexType name="heroComplexType">
		<xsd:attribute name="name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The hero name. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="age" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The hero age. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="hero"
		type="heroComplexType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ hero的文档 ]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>